# Python==3.8.7

# chromedriver.exe - you must download from https://chromedriver.chromium.org/downloads and choose the version that works for your Google Chrome browser
selenium==3.141.0
regex==2020.11.13
